.react-flow .react-flow__handle {
  width: 16px;
  height: 16px;
  border-radius: 6px;
  background-color: white;
  border: 2px solid #21457e;
}

.react-flow .react-flow__handle-top {
  top: -10px;
}

.react-flow .react-flow__handle-bottom {
  bottom: -10px;
}

.react-flow .react-flow__edge path,
.react-flow__connectionline path {
  stroke-width: 6;
  stroke: rgba(33, 69, 126, 50%);
  stroke-dasharray: 20;
}

.wrapper {
  flex-grow: 1;
  height: 100%;
}
