:root {
  --canvas-size: 20000px;
}

.main {
  width: var(--canvas-size);
  height: var(--canvas-size);
  background-color: gainsboro;
  display: flex;
  justify-content: center;
  align-items: center;
}
