/******* CSS RESET ***** */

/*** 
    This document is used to apply 
    global CSS resets to the html document
***/

/* Reset Box sizing  */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin and padding on all elements, and
Reset the default line height  */
* {
  margin: 0;
  padding: 0;
  line-height: calc(
    1em + 0.5rem
  ); /* Use the font-size of the element as a base and add half the font-size of the html documet */
}

/** Enable Smooth scrolling **/
html {
  scroll-behavior: smooth; /** This adds a smooth scrolling behavior when users click on a link to a navigate to a different section of the page **/
}

/* Define a Universal Typography for your body */
body {
  /* Background */
  background: var(--clr-eerie-black);

  /* Typography  */
  /* color: #f3dfbfff; */
  /* color: white; */

  font-family: 'Poppins', sans-serif;
}

/* Define Sensible Media Defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%; /*** Needs more understanding ***/
}

/** Inherit fonts for from controls **/
input,
button,
textarea,
select {
  font: inherit;
}

/** Word Wrapping **/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/** Reset the default button in your html document**/
button {
  border: none;
  background: none;
  color: inherit;
  cursor: pointer;
}
