.post {
  /* Box Model */
  max-width: 1080px;
}

/******* Text Post   *********/
.text-post {
  /* Box Model */
  box-shadow: 10px 10px 2px 0px rgba(33, 69, 126, 0.5);

  /* width: 1080px;
  height: 458px; */

  /* Layout */
  display: flex;
  flex-direction: column;

  /* Box Model */
  background-color: white;
}

.text-post-header {
  /* Layout */
  display: flex;
  align-items: center;
  gap: 0.5em;

  /* Box Model */
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 0.5em;

  /* Color */
  color: white;
  background-color: #102b55;
}
.text-post-img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40px;
  height: 40px;

  border-radius: 50%;
  overflow: hidden;
}
.text-post-img {
  /* This allows the image to be responsive to the parent */
}

.text-post-content {
  /* Box Model */
  padding-inline: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
  /*  */
  width: 45ch;

  /* Typography */
}

.text-post-content #post-2 {
  position: absolute;
  left: 600px;
  top: 200px;
}

.img-post {
  border: 30px solid white;
  border-bottom: 15px solid white;
  display: flex;
  flex-direction: column;
  max-width: 400px;
}


.image-user {
  font-weight: bold;
}


.img-post-img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100%;
  height: 250px;
  overflow: hidden;
} 

.image-post-profile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;

}

.image-footer {
  display: flex;
  gap:10px;
  padding-top: 10px;
}

.image-text{
  grid-area: text;
  display: flex;
  flex-direction: column;
  gap: 5px;
  overflow: wrap;
}

.image-post-img {
  
}



/* ------------- Profile Post --------------- */
.profile-post {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: rgba(255, 255, 255, 0); */
}
.profile-img-container {
  /* Box Model */
  width: 100px;
  height: 100px;
  border-radius: 50%;

  /* Color  */
  /* background-color: blue; */

  /* Layout */
  overflow: hidden;

  /* Layout */
  display: flex;
  flex-direction: column;
  justify-content: center;

  box-shadow: 5px 5px 2px 0px rgba(33, 69, 126, 0.5);
}

.profile-img {
  max-height: 100%;
  object-fit: cover;

  /* box-shadow: 10px 10px 2px 0px rgba(33, 69, 126, 0.5); */
}

.profile-name {
  /* Box Model */
  width: 80px;
  height: 80px;
  border-radius: 50%;
  box-shadow: 5px 5px 2px 0px rgba(33, 69, 126, 0.5);

  /* Layout */
  display: flex;
  align-items: center;

  /* Background */
  background-color: white;

  /* Typography */
  text-align: center;
  color: #21457e;

  /*  */
  position: absolute;
  bottom: -40%;
  left: -40%;
}
